@using Microsoft.AspNet.Identity
@using Archymeta.Web.Security.Resources;
@model MemberAdminMvc5.Models.ManageUserViewModel

<p>@Html.Raw(string.Format(ResourceUtils.GetString("d2c3593e895959824364754339e14123", "You're logged in as <strong>{0}</strong>"), User.Identity.GetUserName()))</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ResourceUtils.GetString("f14c0522e5a4e55c1b39700fef19f0e3", "Change Password Form")</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@ResourceUtils.GetString("0b39c5aca15b84b1ad53a94d6b3feb79", "Change password") class="btn btn-default" />
        </div>
    </div>
}
