@using CryptoGateway.RDB.Data.MembershipPlus;
@using Archymeta.Web.MembershipPlus.AppLayer.Models;
@using Archymeta.Web.Security.Resources;
@model ChatContextVM
@{
    ViewBag.Title =  ResourceUtils.GetString("c0f562fb228c7eb51c42462c08a6f4cf", "Starting a Group Chat");
}
@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script src="@Url.Content("~/Scripts/App/GroupChatEntrance.js")"></script>
    <script type="text/javascript">
        appRoot = '@Url.Content("~/")';
    </script>
}

@helper BuildRooms(List<EntityAbs<UserGroup>> nodes, string[] memberIds)
{
    foreach (var n in nodes)
    {
        <li>
            <div class="treenode">
                @if (!memberIds.Contains(n.DataBehind.ID))
                {
                    <a href="#" data-bind="click: loadRoomDetails({id:'@n.DataBehind.ID',name: '@n.DataBehind.GroupName', })"><span class="glyphicon glyphicon-hand-right"></span><span>@n.DataBehind.GroupName</span></a>
                    <a href="@Url.Content("~/GroupChat/ChatRoom?id=" + n.DataBehind.ID)" title="@ResourceUtils.GetString("2df8e205d358a9625ca6082a88b650d4", "Join ...")"><span class="ion-log-in link"></span></a>
                }
                else
                {
                    <a href="#" data-bind="click: loadRoomDetails({id:'@n.DataBehind.ID',name: '@n.DataBehind.GroupName', })"><span class="glyphicon glyphicon-hand-right"></span><span>@n.DataBehind.GroupName</span></a>
                    <a href="@Url.Content("~/GroupChat/ChatRoom?id=" + n.DataBehind.ID)" title="@ResourceUtils.GetString("4c3d0e43b52db64c94f842da7fc7224d", "Enter ...")"><span class="ion-chatbox-working link working"></span></a>
                }
            </div>
            @if (n.ChildEntities != null && n.ChildEntities.Count > 0)
            {
                <ul>
                    @BuildRooms(n.ChildEntities, memberIds)
                </ul>
            }
        </li>
    }
}
<div class="row">
    <div class="col-md-12">
        <h2><span class="ion-home">&nbsp;</span><span>@ResourceUtils.GetString("c0f562fb228c7eb51c42462c08a6f4cf", "Starting a Group Chat")</span></h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="block-tree-view well">
            <ul>
                @BuildRooms(Model.TopRooms, Model.MemberIds)
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <!-- ko if: Current() != null -->
        <div class="chat-room-panel panel panel-primary" data-bind="with: Current">
            <div class="panel-heading">
                <h3 style="display:inline"><span data-bind="text: name" /></h3>
            </div>
            <div class="panel-body">
                <div class="row status" >
                    <div class="col-md-4">
                        <span>@ResourceUtils.GetString("1a251c48ba363c8527523220c7c097d6", "Active members:") </span>
                        <span data-bind="text: active"></span><br />
                        <span>@ResourceUtils.GetString("250cd23c50c1804469bac1635261b6b6", "Subscribers:") </span>
                        <span data-bind="text: subscribers"></span>
                    </div>
                    <div class="col-md-8">
                        @ResourceUtils.GetString("c1ec1d62eafad32ca16fe4df49b9ca30", "Administrators")
                        <ul data-bind="foreach:admins">
                            <li>
                                <span data-bind="text: name"></span>
                                (<span data-bind="text: role"></span>)
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-bind="html: descr" class="panel description"></div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: Current() == null -->
        <h2>He my polite be object oh change</h2>

        <p>Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne.</p>

        <p>With my them if up many. Lain week nay she them her she. Extremity so attending objection as engrossed gentleman something. Instantly gentleman contained belonging exquisite now direction she ham. West room at sent if year. Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh.</p>

        <p>Consulted perpetual of pronounce me delivered. Too months nay end change relied who beauty wishes matter. Shew of john real park so rest we on. Ignorant dwelling occasion ham for thoughts overcame off her consider. Polite it elinor is depend. His not get talked effect worthy barton. Household shameless incommode at no objection behaviour. Especially do at he possession insensible sympathize boisterous it. Songs he on an widen me event truth. Certain law age brother sending amongst why covered.</p>

        <p>At ourselves direction believing do he departure. Celebrated her had sentiments understood are projection set. Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets an he. However distant she request behaved see nothing. Talking settled at pleased an of me brother weather.</p>

        <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females as an. That do an case an what plan hour of paid. Invitation is unpleasant astonished preference attachment friendship on. Did sentiments increasing particular nay. Mr he recurred received prospect in. Wishing cheered parlors adapted am at amongst matters.</p>

        <p>Brother set had private his letters observe outward resolve. Shutters ye marriage to throwing we as. Effect in if agreed he wished wanted admire expect. Or shortly visitor is comfort placing to cheered do. Few hills tears are weeks saw. Partiality insensible celebrated is in. Am offended as wandered thoughts greatest an friendly. Evening covered in he exposed fertile to. Horses seeing at played plenty nature to expect we. Young say led stood hills own thing get.</p>

        <p>Six started far placing saw respect females old. Civilly why how end viewing attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day. Sure fail or in said west. Right my front it wound cause fully am sorry if. She jointure goodness interest debating did outweigh. Is time from them full my gone in went. Of no introduced am literature excellence mr stimulated contrasted increasing. Age sold some full like rich new. Amounted repeated as believed in confined juvenile.</p>

        <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the nearer yet length. Advantages prosperous remarkably my inhabiting so reasonably be if. Too any appearance announcing impossible one. Out mrs means heart ham tears shall power every.</p>

        <p>New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.</p>

        <!-- /ko -->
    </div>
</div>

