@using Archymeta.Web.Security.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ResourceUtils.GetString("2b5ca6c9ca99b01ad5c5b2ca6ac7ec71", "Membership+ Administration System")</title>
    @RenderSection("prestyles", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/qtip2")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/ionicons")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.Partial("_TopbarPartial")
    </div>
    <div class="body-container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <footer class="footer">
            <p style="text-align:center;">
                &copy; @DateTime.Now.Year - @Html.Raw(ResourceUtils.GetString("5eab1b11c48a0f997c644f3162d9c2c7", @"<a href=""http://www.archymeta.com"">Archymeta Information Techenologies Co., Ltd.</a>, All rights reserved"))
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/qTip/jquery.qtip.js")
    @if (Request.IsAuthenticated)
    {
        Html.RenderAction("GetSystemNotificationWrapper", "Home");
    }
    @RenderSection("scripts", required: false)
</body>
</html>
