@using Archymeta.Web.Security.Resources
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("+", "Index", "Home", null, new { @class = "navbar-brand ion-android-social" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(ResourceUtils.GetString("8cf04a9734132302f96da8e113e80ce6", "Home"), "Index", "Home")</li>
            @if (Request.IsAuthenticated)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">@ResourceUtils.GetString("77a3f553666ab77020a502e5079335c9", "Membership")<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">@ResourceUtils.GetString("13348442cc6a27032d2b4aa28b75a5d4", "Search")</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(ResourceUtils.GetString("ef53538ae41a651c7f72ab6cb1135d8d", "Members"), "SearchMembers", "Query")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">@ResourceUtils.GetString("07a3dd247ad6bec7fe401aa1161995a0", "Communication")<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a href="#">@ResourceUtils.GetString("b54fa74b22da5a748eae3d55ad26419a", "Messaging")</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(ResourceUtils.GetString("c41bd4a897a72c15332aa063685bf0a2", "Group Chat"), "Start", "GroupChat")</li>
                                <li class="dropdown-submenu">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">@ResourceUtils.GetString("e9b58070003826eb74265c9ff2815e81", "Private Chat")</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink(ResourceUtils.GetString("8dff9be37a347cab463edab00c45f32a", "Search Online Members"), "Search", "PrivateChat")</li>
                                        <li>@Html.ActionLink(ResourceUtils.GetString("f61f233079fec6bd451747c6cdaeb1c7", "Search Contacts"), "Search", "Contacts")</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">@ResourceUtils.GetString("184daff620aca4ad23fd2bf70d0b76b0", "Personal")<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a href="#">@ResourceUtils.GetString("f4f70727dc34561dfde1a3c529b6205d", "Settings")</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(ResourceUtils.GetString("fe7fc019efd9d8c63caa40b65a987050", "Change account info"), "ChangeAccountInfo", "Account")</li>
                                <li>@Html.ActionLink(ResourceUtils.GetString("19ea043ac4635abf9e611b26e847eda2", "Maintain profile"), "UserDetails", "Account")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">@ResourceUtils.GetString("a82be0f551b8708bc08eb33cd9ded0d0", "Information")</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(ResourceUtils.GetString("a274f4d4670213a9045ce258c6c56b81", "Notifications"), "", "Notification")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">@ResourceUtils.GetString("e3afed0047b08059d0fada10f400c1e6", "Admin")<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(ResourceUtils.GetString("f9aae5fda8d810a29f12d1e61b4ab260", "Users"), "UserAdmin", "MemberAdmin")</li>
                        <li>@Html.ActionLink(ResourceUtils.GetString("a5cd3ed116608dac017f14c046ea56c0", "Roles"), "RoleAdmin", "RoleAdmin")</li>
                        <li class="dropdown-submenu">
                            <a href="#">@ResourceUtils.GetString("c33e404a441c6ba9648f88af3c68a1cb", "Statistics")</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(ResourceUtils.GetString("6252099885d35731bcdb935fb4582e7a", "Online Users"), "OnlineUsers", "MemberAdmin")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            <li>@Html.ActionLink(ResourceUtils.GetString("bbaff12800505b22a853e8b7f4eb6a23", "Contact"), "Contact", "Home")</li>
            <li>@Html.ActionLink(ResourceUtils.GetString("8f7f4c1ce7a4f933663d10543562b097", "About"), "About", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>

