<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("+", "Index", "Home", null, new { @class = "navbar-brand ion-android-social" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            @if (Request.IsAuthenticated)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Organizers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Bookmarks</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("By Data Source", "Bookmarks", "Home")</li>
                                <li>@Html.ActionLink("By Categories", "CategBookmarks", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a href="#">Account</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Change account info", "ChangeAccountInfo", "Account")</li>
                                <li>@Html.ActionLink("Change preferences", "EditUserPreferences", "Account")</li>
                                <li>@Html.ActionLink("Add/Change profile", "UserDetails", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Admin Users", "UserAdmin", "Admin")</li>
                        <li>@Html.ActionLink("Admin Roles", "RoleAdmin", "Admin")</li>
                        <li class="dropdown-submenu">
                            <a href="#">Statistics</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Online Users", "OnlineUsers", "Admin")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            <li>@Html.ActionLink("About", "About", "Home")</li>
            @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>

